
body {
    background: rgb(252,252,255);
    background: linear-gradient(90deg, rgba(252,252,255,1) 0%, rgba(77,9,121,1) 55%, rgba(0,212,255,1) 100%);
    background-size: cover;
}

header{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;

}
section{
    justify-content: left;
    align-items: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

aside {
    /*justify-content: right;
    align-items: right;
    float: right;*/
    justify-content: left;
    align-items: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}


